html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.header_filtro {
  width: 100%;
  height: 10px;
  margin: 0;
  border: 1px solid #333;
}

.mdl-data-table {
  width: 100%;
  border: none;
}

.mdl-data-table thead th {
  font-weight: bold;
  color: #263238;
}

.span_status {
  padding: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff; 
}

.pendente {
  background-color: #FFCA28;
}

.revisao {
  background-color: #F57C00;
}

.aprovado {
  background-color: #8BC34A;
}

.reprovado {
  background-color: #F44336;
}

.favorito {
  background-color: #2196F3;
}
