
/* HEADER PRINCIPAL */

.mdl-layout__header--waterfall {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-layout__header .descricao-filme {
  height: 50px;
}

@media screen and (max-width: 1024px) {

  .mdl-layout__header .descricao-filme {
    
    padding-left: 20px; 

  }
  
}

.mdl-layout__header-row .mdl-navigation .mdl-navigation__link {
  cursor: default;
}
  
.mdl-layout__header-row .mdl-navigation .usuario-filme {  
  font-size: 18px;
  padding-left: 0;
}

.mdl-layout__header-row .mdl-navigation .tema-filme {  
  font-size: 16px;
  padding-left: 0;
}

.mdl-layout__header-row .mdl-navigation .data-filme {  
  font-size: 16px;
  font-style: italic;
}

.mdl-layout__header-row .usuario-filme .material-icons {  
  margin-right: 16px;
}

/*GRID IMAGENS*/

figure {
  margin: 0;
}

.grid-media {
  border: 0px solid red;
  width: 100%;
}

.grid-media .media-img {
  border: 0px solid #f00;
  overflow: hidden;
  float: left;
  width: calc(32% - 5px);
  margin: 0 10px 10px 0;
  background: #fff;
}

.grid-media .media-video {
  border: 0px solid #f00;
  float: left;
  margin: 0 10px 10px 0;
  width: calc(48% - 5px);
}


.grid-media .media-img img {
  border: none;
  max-width: 100%;
  max-height: 100%;  
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.grid-media .media-img:hover img {
  transform: scale(1.15);
}

@media screen and (max-width: 768px) {

  .grid-media .media-img {    
    width: 43%; 
  }

  .grid-media .media-video {    
    width: 100%; 
  }
  
}

/* LIGHTBOX */

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}


#simplbox {
  z-index: 10000;
  ms-touch-action: none;
  touch-action: none;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

#simplbox-overlay {
  background-color: #F4F4F4;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
