.detalhes-revisao {
	width: 100%;
	color: rgba(0,0,0,0.54);
	margin-bottom: 20px;
}

.detalhes-revisao h2 {
	font-size: 24px;
	font-weight: 400;
  	line-height: normal;
	margin: 0;
	margin-bottom: 10px;
}

.detalhes-revisao .detalhe {
	background: #ddd;
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box; 
}

.detalhes-revisao .detalhe span {
	float: right;
	font-style: italic;
}