
/*GRID IMAGENS*/

.titulo-filme {  
    color: #f00;
}

.grid-media-title header .material-icons {
  border: 1px solid red;
  font-size:30px;
}

section>header>figure> label{
  font-size: 30px;
  padding-left: 3px;
}

.demo-card-square.mdl-card {
  width: 250px;
  height: 250px;
  float: left;

  
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
 #46B6AC;

}

section>div> .mdl-grid{
  padding:50px;
}