
/* HEADER PRINCIPAL */

.mdl-layout__header--waterfall {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-layout__header .mdl-layout__header-row-subtitle {
  height: 54px;
}

.mdl-layout__header .mdl-layout__header-row-subtitle-small {
  height: 44px;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header .mdl-layout__header-row-subtitle,
  .mdl-layout__header .mdl-layout__header-row-subtitle-small {
    padding-left: 20px; 
  }  
}

.mdl-layout__header .mdl-layout__header-row-subtitle .mdl-layout-title,
.mdl-layout__header .mdl-layout__header-row-subtitle-small .mdl-layout-title {
  width: 200px;
  font-weight: 500;
  font-size: 16px;
}  

#togle-labels-movie {
  transition: transform .3s;
}

.togle-active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mdl-layout__header-row-subtitle .mdl-navigation .mdl-navigation__link {  
  font-size: 18px;
  padding-left: 0;
}

.mdl-layout__header-row-subtitle .mdl-navigation .mdl-navigation__link .material-icons {  
  margin-right: 16px;
}

.mdl-layout__header-row .mdl-navigation .tema-filme {  
  font-size: 14px;
  padding-left: 0;
}

.mdl-layout__header-row .mdl-navigation .data-filme {  
  font-size: 14px;
  font-style: italic;
}

/*GRID IMAGENS*/

figure {
  margin: 0;
}

.grid-media {
  width: 100%;
  line-height: 0; 
  -webkit-column-count: 4;
  -webkit-column-gap:   10px;
  -moz-column-count:    4;
  -moz-column-gap:      10px;
  column-count:         4;
  column-gap:           10px;
}

.grid-media .media-img {
  display: inline-block;
  margin-bottom: 10px;
}

.grid-media .media-img img {
  width: 100% !important;
  height: auto !important;
  transition: all .2s ease-in-out;
}

.grid-media .media-img:hover img {
  opacity: 0.7;
}

.media-video {
  float: left;
  width: 100%;
}

.media-video video {
  float: left;
  margin: 20px 10px 10px 0;
  width: 48%;
}

@media (max-width: 1200px) {
  .grid-media {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1000px) {
  .grid-media {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  .grid-media {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
  .media-video video {
    width: 100%;
  }

}
@media (max-width: 400px) {
  .grid-media {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}

/* LIGHTBOX */

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}


#simplbox {
  z-index: 10000;
  ms-touch-action: none;
  touch-action: none;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

#simplbox-overlay {
  background-color: #F4F4F4;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.featherlight .featherlight-close-icon {
  display: none;
}

.featherlight .featherlight-content {
  padding: 0;
  border-bottom: 0px solid transparent;
}

.lightbox {
  display: none;
}

.lightbox video {
  width: 100%;
  height: 100%;   
}

.mdl-button--fab_flinger-container {
  bottom: 20px;
  right: 25px;
  z-index: 99;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options {
  background: rgba(38,50,56,0.8);
  padding: 0 5px 10px 5px;
  border-radius: 5px;
  right: -5px;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options .mdl-button--fab {
  color: #FFF;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options label {
  color: #FFF;
  padding-left: 4px;
  border-radius: 2px;
}

.lightbox_card {
  width: 300px;
}

.lightbox_card .mdl-card__actions {
  text-align: right;
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.detalhes-revisao {
  width: 100%;
  color: rgba(0,0,0,0.54);
  margin-bottom: 20px;
}

.detalhes-revisao h2 {
  font-size: 24px;
  font-weight: 400;
    line-height: normal;
  margin: 0;
  margin-bottom: 10px;
}

.detalhes-revisao .detalhe {
  background: #ddd;
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; 
}

.detalhes-revisao .detalhe span {
  float: right;
  font-style: italic;
}
