.align-center {
	border: 1px solid red;
	width: 500px;
	height: 50px;
	float: left;
}

.calendar-wrap {
	width: 100%;
	margin-bottom: 20px;
}

.calendar-wrap header h2 {
	text-align: center;
	font-size: 24px;
	width: 100%;
	margin: 0 auto;
}

.calendar-wrap header h3 {
	color: rgba(0,0,0, 0.54);
	font-size: 1.3em;
	line-height: 22px;
}

.calendar-controls {
	width: 100%;
	margin-top: -40px;
	margin-bottom: 30px;
	float: left;
}

.calendar-controls #btn-ant {
	float: left;
}

.calendar-controls #btn-prox {
	float: right;
}

#calendar {
	width: 100%;		
}

#calendar a {
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width: 14.342%;
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

/*#calendar li .mdl-icon-toggle {
	margin-top: 5px;
	margin-left: 30%;
}
*/
/*#calendar li .mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
	color: #FFF;
	background-color: #8BC34A;
}*/

#calendar ul.weekdays {
	height: 40px;
	background: #B0262C;
}

#calendar ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
}

#calendar .days li {
	height: 120px;
	overflow: auto;
}

#calendar .days li:not(.other-month):hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	color: #333;
	width: 20px;
	float: right;
	font-weight: 500;
}

#calendar .days li .desc-day {
	display: none;
}

#calendar .other-month {
	background: #ddd;
	color: #333;
	cursor: not-allowed;
}

#calendar .other-month .date {
	color: #666;
}

#calendar-load {
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

#calendar .card-horario {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	display: none;
}

#calendar .card-horario .mdl-card__title {
	background: #B0262C;
}

#calendar .card-horario .mdl-card__title .mdl-card__title-text,
#calendar .card-horario .mdl-card__menu .mdl-button {
	color: #FFF;
}

#calendar .card-horario #card-horario-form {
	width: 90%;
	margin: 0 auto;
	float: left;
}

#calendar .card-horario .mdl-card__actions .mdl-button {
	color: #FFF;
	float: right;
}

#calendar .horario-block {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    line-height: 14px;
    background: #B0262C;
    color: #FFF;
    text-align: center;
}

#calendar .horario-escal {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    line-height: 14px;
    background: #8BC34A;
    color: #FFF;
    text-align: center;
}

.escala-container {
	float: left;
	width: 100%;
	max-width: 850px;
	height: auto;
	margin: 0 auto;
}

.escala-container header {
	width: 100%;
}

.escala-container header h1 {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #FFF;
	background: #B0262C;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 0;
}

.escala-container header p {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: rgba(0,0,0,0.54);
}

.escala-escalados {
	float: left;
	width: 100%;
	max-width: 400px;
	border: 1px solid #ccc;	
	margin: 0px 10px 10px 0px;
}

.escala-colaboradores {
	float: left;
	width: 100%;
	max-width: 400px;
	border: 1px solid #ccc;	
}

.escala-escalados h3,
.escala-colaboradores h3 {
	width: 100%;
	background: #B0262C;
	text-align: center;
	margin: 0 0 10px 0;
	color: #FFF;
	font-size: 20px;
	padding: 10px 0;
}	

.escala-escalados h4 {
	width: 100%;
	text-align: center;
	margin: 0 0 10px 0;
	color: rgba(0,0,0,0.54);
	font-size: 20px;
	padding: 10px 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}	


#escala-add-colaborador {
	padding: 0 10px;
}

.escala-action {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
}

.escala-action .mdl-button {
	color: #FFF;
}

.lista-colaboradores .mdl-list__item {
	border-bottom: 1px solid #CCC;
}

.list-horarios {
	list-style: none;
}

.list-horarios li {
	background: #B0262C;
	color: #FFF;
	border-radius: 4px;
	padding: 5px;
	margin-top: 5px;
	font-size: 13px;
	text-align: center;
}

.lista-escalados li {
	width: 100%;
}
/*@media(max-width: 772px) {

	#calendar li .mdl-icon-toggle {
		margin-top: 0px;
		margin-left: 2%;
	}

}

@media(max-width: 596px) {

	#calendar li .mdl-icon-toggle {
		margin-top: -35px;
	}

}*/

@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar li .mdl-icon-toggle {
		float: right;
		margin-right: 16px;
	}

	#calendar .date {
		float: none;
		font-size: 1.5em;
	}

	#calendar .days li .desc-day {
		display: block;
		float: right;
		margin-top: -30px;
		margin-bottom: 20px;
		color: rgba(0,0,0,0.54);
	}

}