html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.estrutura .mdl-layout__header .mdl-layout__drawer-button{
  color: #263238;
}

.barra-lateral {
  border: none;
}

.barra-lateral-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: auto;
}
.user-descricao {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
}

.logo-principal {
  margin: 0 auto;
  width: 90%;
  max-width: 170px;
}

.user-descricao .material-icons {
  margin-right: 16px;
}

.barra-lateral .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra-lateral-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  background: #B0262C;
}

.nav-lateral {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;    
}

.nav-lateral .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  padding-left: 16px !important;
}

.estrutura .nav-lateral .mdl-navigation__link:hover {
  background-color: #37474F;
}

.nav-lateral .mdl-navigation__link .material-icons {
  margin-right: 16px;
}

.content {
  max-width: 98%;
}

.conteudo {
  padding: 20px;       
}


