html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.card-login-principal {
  width: 90%;
  max-width: 440px;
  height: 350px;
  min-height: 350px;
  margin: 0 auto;
  top: 100px;
  z-index: 2;
}

.card-login-secundario  {
  width: 95%;
  height: 220px;
  max-width: 480px;
  background-color: #B0262C;
  margin: 0 auto;
  top: -50px;
}

.card-login-secundario .mdl-card__title {
  margin-top: 150px;
}

.card-login-secundario .mdl-card__title h3 {
  width: 100%;
  text-align: center;  
}

.card-login-secundario .mdl-card__title h3 a {
  text-decoration: none;
  font-size: 14px;
  color: #FFF;
}

.card-login-principal > .mdl-card__title {
  height: 130px;
  min-height: 130px;
  background-color: #B0262C;
}

.card-login-principal > .mdl-card__title > h2 {
  width: 100%;
  text-align: center;
}

.card-login-principal .mdl-card__title .logo-login {
  width: 60%;
  max-width: 200px;
}

#bico {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 10px solid #B0262C;
  margin-top: -1px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#form-login {
  margin: 0 auto;
  width: 90%;
}

.card-login-principal .mdl-textfield {
  width: 100%;
}

.card-login-principal .mdl-textfield .mdl-textfield__input {
  border-bottom: 1px solid #B0BEC5;
}

.card-login-principal .mdl-textfield .mdl-textfield__label {
  font-size: 14px;
  color: #B0BEC5;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: #263238;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: rgb(213,0,0);
}

.mdl-textfield__label:after {
  background-color: #263238;
}

.card-login-principal .mdl-card__actions {
  margin-top: 5px;
  text-align: right;
  padding-right: 20px;
}
