html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.estrutura .mdl-layout__header .mdl-layout__drawer-button{
  color: #263238;
}

.user-descricao {
  margin-right: 5px;
  font-size: 1em;
  padding: 10px 10px; 
  border-radius: 3px;
}

.barra-lateral {
  border: none;
}

.logo-principal {
  width: 150px;
  margin-left: 18%;
  margin-bottom: 3%;
}

.user-descricao span {
  padding: 5px;
  border: 1px solid #333;
}

.barra-lateral .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra-lateral-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 65px;
  background: #B0262C;
}

.nav-lateral {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #12222D;        
}

.nav-lateral .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.estrutura .nav-lateral .mdl-navigation__link:hover {
  background-color: #161F26;
}
.nav-lateral .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 16px;
}

.content {
  max-width: 98%;
}

.conteudo {
  height: 87vh;        
}

.material-icons-bell {
  font-size: 60px;
}

