html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
/* ======================== GERAIS ======================== */

/* COMPOS DE TEXTO */
.mdl-textfield {
  width: 100% !important;
}
.mdl-textfield .mdl-textfield__label {
  color: rgba(0,0,0, 0.54);
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: #408F9C;
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: rgb(213,0,0);
}
.mdl-textfield__label:after {
  background-color: #408F9C;
}


/* ======================== TELA DE LOGIN ======================== */

/* CARD PRINCIPAL */
.card-login-principal {
  width: 90%;
  max-width: 440px;
  height: 350px;
  min-height: 350px;
  margin: 0 auto;
  top: 100px;
  z-index: 2;
}
.card-login-principal > .mdl-card__title {
  height: 130px;
  min-height: 130px;
  background-color: #B0262C;
}
.card-login-principal > .mdl-card__title > h2 {
  width: 100%;
  text-align: center;
}
.card-login-principal .mdl-card__title .logo-login {
  width: 60%;
  max-width: 200px;
}
.card-login-principal .mdl-card__actions {
  margin-top: 5px;
  text-align: right;
  padding-right: 20px;
}
#bico {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 10px solid #B0262C;
  margin-top: -1px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#form-login {
  margin: 0 auto;
  width: 90%;
}

/* CARD SECUNDÁRIO */
.card-login-secundario  {
  width: 95%;
  height: 220px;
  max-width: 480px;
  background-color: #B0262C;
  margin: 0 auto;
  top: -50px;
  z-index: 1;
}
.card-login-secundario .mdl-card__actions {
  padding: 0;
  position: absolute;
  bottom: 15px;
}
.card-login-secundario .mdl-card__actions h3 {
  width: 100%;
  margin: 0;
  text-align: center;  
}
.card-login-secundario .mdl-card__actions h3 a {
  text-decoration: none;
  font-size: 14px;
  color: #FFF;
}

/* ======================== ESQUELETO ======================== */

/*COR DO BOTÃO HAMBÚRGUER*/
.estrutura .mdl-layout__header .mdl-layout__drawer-button {
  color: #263238;
}
/*COR DO BOTÃO HAMBÚRGUER NOS FUNDOS COLORIDOS*/
.estrutura .curadoria-color .mdl-layout__drawer-button,
.estrutura .monitoria-color .mdl-layout__drawer-button {
  color: #FFF;
}
.barra-lateral {
  border: none;
}
.barra-lateral-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: auto;
}
.user-descricao {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
}
.logo-principal {
  margin: 0 auto;
  width: 90%;
  max-width: 170px;
}
.user-descricao .material-icons {
  margin-right: 16px;
}
.barra-lateral .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.barra-lateral-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  background: #B0262C;
}
.nav-lateral {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;    
}
.nav-lateral .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  padding-left: 16px !important;
  transition: background-color 0.3s ease-in-out;
}
.estrutura .nav-lateral .mdl-navigation__link:hover {
  background-color: #37474F;
}
.estrutura .nav-lateral .mdl-navigation__link-active {
  background-color: #37474F;
  color: #FFF !important;
}
.nav-lateral .mdl-navigation__link .material-icons {
  margin-right: 16px;
}
.content {
  max-width: 98%;
}
.conteudo {
  padding: 20px;       
}