.form-resposta {
  width: 100%;
}

.form-resposta .mdl-card__supporting-text {
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin-bottom: 20px;
}

.form-resposta .menu_idioma {
  width: 100%;
  float: right;
}

.form-resposta .menu_idioma .mdl-textfield {
  max-width: 300px;
  float: right;
}

.mdl-card__actions-resposta {
  width: 100%;
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-radio-group {
  border: 1px solid red;
}

.mdl-radio-group {
  border: 1px solid red;
}

.mdl-radio-group .mdl-radio-group__label {
  font-size: 16px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  color: rgba(0,0,0, 0.54);
}