
.mdl-menu__item .flag-icon,
.table-responsive-vertical tbody tr td .flag-icon {
	margin-right: 16px; 
}

.mdl-menu-item .mdl-menu__item .material-icons {
	margin-right: 16px;
	position: relative;
	top: 6px;
}

.link_item {
	text-decoration: none;
}